DJANGO_SECRET_KEY=local-dev-deepfakeshield-secret-key-2024
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DATABASE_URL=postgresql://deepfakeshield_db_s0ux_user:1BdHqsHcoR8uIJgQJx6C5wcREVze0XmT@dpg-d6rsg9hj16oc73ed57hg-a/deepfakeshield_db_s0ux
DB_SSL_REQUIRE=False
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-16-char-app-password
DEFAULT_FROM_EMAIL=DeepFake Shield <your-email@gmail.com>
LOG_LEVEL=DEBUG